*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Barlow";
    src: url(/BarlowSemiCondensed-Regular.ttf);
}

a{
    text-decoration: none;
    color:inherit;
}

:root{
    --card1-color:hsl(263, 55%, 52%);
    --card2-color:hsl(217, 19%, 35%);
    --card5-color:hsl(219, 29%, 14%);
    --main-font:"Barlow";
}

body{
    font-family: var(--main-font);
    color:white;
    background-color: rgb(111, 118, 148);
    display:flex;
    flex-direction: column;
    align-items: center;
}

#grid_container{
    margin:10vh 120px 0 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-flow: row;
}

.card{
    padding:20px 40px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap:5px;
    justify-content: center;
}

.card:hover{
    outline:2px solid rgba(255, 192, 203, 0.512);
}

.card img{
    border-radius: 50%;
}

#card_1{
    grid-area: 1 / 1 / 2 / 3; 
    background-color: var(--card1-color);
}

#card_2{
    grid-area: 1 / 3 / 2 / 4;
    background-color: var(--card2-color);
}

#card_3{
    grid-area: 1 / 4 / 3 / 5;
    color:black;
    background-color: white;
}

#card_3 > div p:nth-child(2){
    color:rgba(0, 0, 0, 0.5);
}

#card_4{
    grid-area: 2 / 1 / 3 / 2;
    color:black;
    background-color: white;
}

#card_4 > div p:nth-child(2){
    color:rgba(0, 0, 0, 0.5);
}

#card_5{
    grid-area: 2 / 2 / 3 / 4;
    background-color: var(--card5-color);
}

.card_header{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
}

.card_graduate{
    color:rgba(255, 255, 255, 0.5);
}


.card_title{
    font-size:1.3em;
    font-weight:bold;
    padding:5px 0;
}

.attribution{
    margin-top:3vh;
    text-decoration: none;
    color:white;
}

@media screen and (max-width:1350px){
    #grid_container{
        grid-template-rows: repeat(3,500px);
    }

    #card_1{
        grid-area: 1 / 1 / 2 / 3;
    }
    #card_2{
        grid-area: 1 / 3 / 2 / 5;
    }
    #card_3{
        grid-area: 2 / 2 / 3 / 5;
    }
    #card_4{
        grid-area: 2 / 1 / 3 / 2; 
    }
    #card_5{
        grid-area: 3 / 1 / 4 / 5;
        
    }
}

@media screen and (max-width:830px) {
    #grid_container{
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        margin:10vh 20px 0 20px
    }

    #card_1{
        grid-area: 1 / 1 / 2 / 2;
    }

    #card_2{
        grid-area: 2 / 1 / 3 / 2;
    }

    #card_3{
        grid-area: 3 / 1 / 4 / 2;
    }

    #card_4{
        grid-area: 4 / 1 / 5 / 2;
    }

    #card_5{
        grid-area: 5 / 1 / 6 / 2
    }

    
}

